@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  font-family: 'Press Start 2P', cursive;
}

.card:hover {
  background-color: rgb(255, 193, 7);
}

ol li {
  border-bottom: 1px dotted rgb(223, 223, 223);
}

#blahblah {
  color: gray;
  font-size: small;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;
  border: 1px dotted gray;
  user-select: none;
  padding: 0.8rem;
  margin-bottom: 5px;
  cursor: pointer;
}